*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica;
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
}

.title {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 8px 0;
    background-color: cornflowerblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

.spacer {
    height: 32px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.search label {
    font-size: 24px;
    margin-left: 4px;    
}

.search input {
    border: none;
    padding: 24px;
    max-width: 500px;
    font-size: 24px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.result-gender {
    font-size: 24px;
    font-weight: 600;
    padding: 0 32px;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}